<p *ngIf="!userIsLogged()" class="alert alert-warning text-center">
  Zaloguj się!
</p>

<div *ngIf="userIsLogged()" class="container-fluid mx-5">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">State (0=todo,1=doing,2=done)</th>
        <th scope="col">Target date</th>
        <th scope="col">Note</th>        
        <th scope="col">Business function</th>
      </tr>
    </thead>
    <tbody *ngIf="userIsLogged()">
      <tr *ngFor="let item of tasks">
        <td>{{ item[2].id }}</td>
        <td>{{ item[2].name }}</td>
        <td>{{ item[2].state }}</td>
        <td>{{ item[2].target | date: 'yyyy/MM/dd' }}</td>
        <td>{{ item[2].note }}</td>        
        <td>{{ item[1] }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="text-info mx-5">
  <p>
    Task editing is inside business function editing
  </p>
</div>
